<div class="footer">
    <div class="foo1">
        <div class="group1">
            <a href="https://2gis.ru/orenburg/firm/70000001007043486">
                <h4>Найти магазин</h4>
            </a>
            <a href="#myModal" class="trigger-btn" data-toggle="modal">
                <h4>Авторизация</h4>
            </a>
            <a href="/registration">
                <h4>Регистрация</h4>
            </a>
            <a href="/help">
                <h4>Помощь</h4>
            </a>
        </div>
        <div class="group2">
            <h4>Информация</h4>
            <a href="/orders">
                <h5>Статус заказа</h5>
            </a>
            <a href="/help">
                <h5>О доставке</h5>
            </a>
            <a href="/help/order-canceling">
                <h5>Отмена заказа</h5>
            </a>
            <a href="/help/payment-methods">
                <h5>Способы оплаты</h5>
            </a>
            <a href="/help/address">
                <h5>Связаться с нами</h5>
            </a>
        </div>
        <div class="group3">
            <h4>О нас</h4>
            <a href="/help/news">
                <h5>Новости</h5>
            </a>
            <a href="/help/sale-terms">
                <h5>Условия продажи</h5>
            </a>
            <a href="/help/data-processing">
                <h5>Обработка персональных данных</h5>
            </a>
            <a href="/help/working-time">
                <h5>Время работы</h5>
            </a>
        </div>
    </div>
    <div class="foo2">
        <h5>Все права защищены, 2021</h5>
    </div>
</div>