<div class="footer">
    <div class="foo1">
        <div class="group1">
            <h4>
                <a href="https://2gis.ru/orenburg/firm/70000001007043486">Найти магазин</a>
            </h4>
            <h4>
                <a href="#myModal" class="trigger-btn" data-toggle="modal">Авторизация</a>
            </h4>
            <h4>
                <a href="/registration">Регистрация</a>
            </h4>
            <h4>
                <a href="/help">Помощь</a>
            </h4>
        </div>
        <div class="group2">
            <h4>get help</h4>
            <h5>Order Status</h5>
            <h5>Shipping and Delivery</h5>
            <h5>Returns</h5>
            <h5>Payment Options</h5>
            <h5>Contact Us</h5>
        </div>
        <div class="group3">
            <h4>about nike</h4>
            <h5>News</h5>
            <h5>Careers</h5>
            <h5>Investores</h5>
            <h5>Sustainability</h5>
        </div>
    </div>
    <div class="foo2">
        <h5>Все права защищены 2021</h5>
    </div>
</div>