<div>
    <button class="button">
        <a href="/">
            Главная
        </a></button>
    <button class="button">
        <a href="/authorization">
            Авторизация
        </a>
    </button>
    <button class="button">
        <a href="/registration">
            Регистрация
        </a>
    </button>
</div>