<div class="contents1">
    <div class="float-left add-form-nav">
        <ul>
            <li><a class="dropdown-item" href="/adminpanel">Категории</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Корзина</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Заказ</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Товар</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Экземпляр товара</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Пользователь</a></li>
            <li>
                <label for="add">Добавить</label>
                <input type="radio" name="action" placeholder="Добавить" value="add" id="add" checked>
            </li>
            <li>
                <label for="edit">Изменить</label>
                <input type="radio" name="action" placeholder="Изменить" value="edit" id="edit">
            </li>
        </ul>
    </div>
    <div class="float-right add-form-forms login">
            <input type="text" name="title" id="title" placeholder="Введите наименование категории" required>
            <input type="text" name="description" id="description" placeholder="Введите описание категории" required>
                
            <button type="submit" class="btn btn-light">Добавить</button>
        </form>
    </div>
</div>