<div class="contents1">
    <div class="float-left add-form-nav">
        <ul>
            <li><a class="dropdown-item" href="/adminpanel">Категории</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Корзина</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Заказ</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Товар</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Экземпляр товара</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Пользователь</a></li>
            <li>
                <label for="add">Добавить</label>
                <input type="radio" name="action" placeholder="Добавить" value="add" id="add" checked>
            </li>
            <li>
                <label for="edit">Изменить</label>
                <input type="radio" name="action" placeholder="Изменить" value="edit" id="edit">
            </li>
        </ul>
    </div>
    <div class="float-right add-form-forms login">
        <form action="/add" method="POST" class="add-form">
            <input type="url" name="img-url" id="img-url" placeholder="Введите Url-изображения" pattern="http.*" size="30" required>
            <input type="text" name="title" id="title" placeholder="Введите наименование" required>
            <select name="category" id="category" required>
                <option selected>Выберите категорию товара</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <input type="text" name="description" id="description" placeholder="Введите описание" required>
            <input type="number" name="price" id="price" placeholder="Введите стоимость" required>
            <input type="number" name="amount" id="amount" placeholder="Введите количество" required>
                
            <button type="submit" class="btn btn-light">Добавить</button>
        </form>
    </div>
</div>