<div class="contents1">
    <div class="basket-items-block float-left">
        <h4 class="bold">Недавно приобретённые товары</h4>
        <div class="basket-items-list">
            <div class="basket-item separator space-s">
                <div>
                    <img class="basket-item-image float-left" src="product-img2.png">
                    <div class="float-right">
                        1234 ₽
                    </div>
                    <div>
                        <h5 class="bold">MOTUL 5100 4T</h5>
                        Моторное масло
                    </div>
                    <label>Количество: <span class="bold">1</span></label>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="basket-item separator space-s">
                <div>
                    <img class="basket-item-image float-left" src="product-img2.png">
                    <div class="float-right">
                        1234 ₽
                    </div>
                    <div>
                        <h5 class="bold">MOTUL 5100 4T</h5>
                        Моторное масло
                    </div>
                    <label>Количество: <span class="bold">1</span></label>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        {{!-- <div>В козине пока нет товаров, перейдите в <a href="/catalog">каталог</a> для выбора.</div> --}}
    </div>
    <div class="basket-info-block float-right">
        <div class="space-s-b separator">
            <h4 class="bold">Сведения</h4>
            <div class="product-card-price space">
                <h5>Сумма последнего заказа</h5>
                0 ₽
            </div>
            <div class="product-card-price space">
                <h5>Количество товаров в заказе</h5>
                0 шт.
            </div>
        </div>
        <div class="space-s">
            <div class="product-card-price">
                <h5>Общий доход</h5>
                <span class="totalSumm"></span>
            </div>
        </div>
        <div class="buttons">
            <button class="custom-button bandw button-without-focus">Получить статистику</button>
        </div>
        <div class="details-list">
            <details>
                <summary>
                    <h3>
                        Добавить
                    </h3>
                </summary>
                <div>
                    Выберите таблицу, в которую необходимо добавить новый элемент
                    <ul class="back">
                        <li class="li1">
                            <a href="/admin-panel/add-category" type="button" class="btn btn-info btn-sm">Категория</a>
                        </li>
                        <li class="li1">
                            <a href="/admin-panel/add-user" type="button" class="btn btn-info btn-sm">Пользователь</a>
                        </li>
                        <li class="li1">
                            <a href="/admin-panel/add-product" type="button" class="btn btn-info btn-sm">Продукт</a>
                        </li>
                    </ul>
                </div>
            </details>
            <details>
                <summary>
                    <h3>
                        Изменить
                    </h3>
                </summary>
                <div>
                    Выберите таблицу, в которой необходимо изменить элемент
                    <ul class="back">
                        <li class="li1">
                            <a href="/admin-panel/edit-category" type="button" class="btn btn-info btn-sm">Категория</a>
                        </li>
                        <li class="li1">
                            <a href="/admin-panel/edit-user" type="button" class="btn btn-info btn-sm">Пользователь</a>
                        </li>
                        <li class="li1">
                            <a href="/admin-panel/edit-product" type="button" class="btn btn-info btn-sm">Продукт</a>
                        </li>
                    </ul>
                </div>
            </details>
        </div>
    </div>
    <div class="clear"></div>
</div>