<form action="/authorization" method="POST">
<h2>Login</h2>

<div class="auth">
    <label>User login</label>
    <input type="text" name="login">

    <label>User password</label>
    <input type="password" name="password">
</div>
<button type="submit">Login</button>
</form>