<div class="contents1">
    <h3 class="bold space-s-b">Избранное</h3>
    <div class="catalog-products">
        <div class="product-grid-items">
            <div class="product-card">
                <div class="product-card-body">
                    <figure>
                        <a href="/product" class="product-card-img-link-overlay">
                            <div>
                                <img class="product-card-image" src="podveska.png" alt="Моторное масло">
                            </div>
                        </a>                                
                        <a href="/product" class="product-card-link-overlay">
                            <div class="product-card-info">
                                <div class="product-card-titles">
                                    <div class="product-card-title">
                                        Зависимая подвеска
                                    </div>
                                    <div class="product-card-subtitle">
                                        Lifan 50x
                                    </div>
                                </div>
                                <div class="product-card-price">
                                    <div>
                                        2000 ₽
                                    </div>
                                    <div class="icon">
                                        <a href="/basket">
                                            <img class="basket-img" src="/basket.svg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>