<div class="contents1">
    <div class="space-s separator">
        <h3 class="bold">Быстрая помощь</h3>
        <h5>Ответы на часто задаваемые вопросы в один клик.</h5>
    </div>
    <div class="space-s">
        <div class="help-blocks">
            <div class="help-info-block">
                <h5>Отправка и доставка</h5>
                <a href="/help/terms">Сроки доставки</a><br/>
                <a href="/help/shipping-cost">Стоимость доставки</a><br/>
                <a href="/help/shipping-types">Способы доставки</a><br/>
            </div>
            <div class="help-info-block">
                <h5>Заказы</h5>
                <a href="/help/order-making">Процедура оформления</a><br/>
                <a href="/help/payment-methods">Способы оплаты</a><br/>
                <a href="/help/order-canceling">Отмена заказа</a><br/>
            </div>
            <div class="help-info-block">
                <h5>О магазине</h5>
                <a href="/help/address">Наш адрес</a><br/>
                <a href="/help/working-time">Время работы</a><br/>
                <a href="/help/shop-info">Информация</a><br/>
            </div>
        </div>
        {{!-- <div class="help-blocks">
            <div class="help-info-block">
                <h5>Отправка и доставка</h5>
                Сроки доставки<br/>
                Стоимость доставки<br/>
                Способы доставки<br/>
            </div>
            <div class="help-info-block">
                <h5>Отправка и доставка</h5>
                Сроки доставки<br/>
                Стоимость доставки<br/>
                Способы доставки<br/>
            </div>
            <div class="help-info-block">
                <h5>Отправка и доставка</h5>
                Сроки доставки<br/>
                Стоимость доставки<br/>
                Способы доставки<br/>
            </div>
        </div> --}}
    </div>
    <div class="space-s separator">
        <h3 class="bold">Связаться с нами</h3>
        <h5>Обратите внимание, что мы не можем ответить на ваш звонок в нерабочее время. Благодарим за понимание.</h5>
    </div>
    <div class="space-s bottom-space">
        <div class="help-blocks">
            <div class="help-info-block text-center">
                <h5>Товары и заказы</h5>
                Оренбург и область: 8-902-366-33-97<br/>
                С 9:00 до 21:00<br/>
                Всю неделю<br/>
            </div>
            <div class="help-info-block text-center">
                <h5>Поиск магазинов</h5>
                <a href="https://goo.gl/maps/zfvKHDFdZC8nKnhb8">Найти магазин</a><br/>
            </div>
            <div class="help-info-block text-center">
                <h5>Товары и заказы</h5>
                Напиши нам: kitaeza@shop.ru<br/>
                Мы ответим в течение<br/>
                2-х рабочих дней<br/>
            </div>
        </div>
        {{!-- <div class="help-blocks">
            <div class="help-info-block text-center">
                <h5>Отправка и доставка</h5>
                Сроки доставки<br/>
                Стоимость доставки<br/>
                Способы доставки<br/>
            </div>
            <div class="help-info-block text-center">
                <h5>Отправка и доставка</h5>
                Сроки доставки<br/>
                Стоимость доставки<br/>
                Способы доставки<br/>
            </div>
            <div class="help-info-block text-center">
                <h5>Отправка и доставка</h5>
                Сроки доставки<br/>
                Стоимость доставки<br/>
                Способы доставки<br/>
            </div>
        </div> --}}
    </div>
</div>