<div class="contents1 bottom-space">
    <div class="spase-s float-left" style="width: 50vw; height: auto;">
        <h3 class="bold space-s-b">Сроки доставки</h3>
        <h5 class="bold">Обратите внимание. Мы временно продлили сроки доставки заказов. Увеличенные сроки доставки будут отражены в предполагаемой дате доставки при оформлении заказа.</h5>
        <div>
            <h5 class="space-s">Ориентировочная дата доставки будет указана при оформлении заказа. Эта дата также будет указана в письме с подтверждением заказа.</h4>
            <ul>
                <li class="li1">Бесплатная доставка для заказов на сумму от 7 500 ₽</li>
                <li class="li1">750 ₽ для заказов на сумму менее 7 500 ₽</li>
                <li class="li1">Доставка: 2–4 рабочих дней</li>
            </ul>
        </div>
    </div>
    <div class="float-right" style="width: 20vw; height: auto;">
        <div class="text-center contact-block separator space-s">
            <h5>Товары и заказы</h5>
            Оренбург и область: 8-902-366-33-97<br/>
            С 9:00 до 21:00<br/>
            Всю неделю<br/>
        </div>
        <div class="text-center contact-block separator space-s">
            <h5>Поиск магазинов</h5>
            <a href="https://goo.gl/maps/zfvKHDFdZC8nKnhb8">Найти магазин</a><br/>
        </div>
        <div class="text-center contact-block separator space-s">
            <h5>Товары и заказы</h5>
            Напиши нам: kitaeza@shop.ru<br/>
            Мы ответим в течение<br/>
            2-х рабочих дней<br/>
        </div>
    </div>

</div>