<div class="contents1">
    <div class="mobile-app block">
        <h3>Мобильное приложение скоро будет доступно для скачивания</h3>
        <img src="mobile-app.png" class="mobile-img">
    </div>
    <div class="left-sided-blocks float-left">
        <div class="left-sided block">
                <div class="info-block float-right">
                    <div class="sale-block">-10%</div>
                    <h3 class="bold">Скидка на все тормозные колодки</h3>
                    При заказе на сумму от 
                    <div class="price-block">
                        <span class="bold">10000 ₽</span> <span class="line-through">15000 ₽</span>
                    </div>
                </div>
                <img src="klipartz.com.png" class="img-block float-left">
        </div>
        <div class="clear">

        </div>
        <div class="left-sided">
            <div class="left-left block float-left">
                <div class="info-block float-right">
                    <h3 class="bold">Моторное масло</h3>
                    MOTUL 5100 4T
                    <div class="price-block">
                        <span class="bold">1234 ₽</span> <span class="line-through">1400 ₽</span>
                    </div>
                </div>
                <img src="product-img2.png" class="img-block float-left">
            </div>
            <div class="left-right block float-right">
                <div class="info-block float-right">
                    <h3 class="bold">Зависимая</h3>
                    <h3 class="bold">подвеска</h3>
                    MOTUL 5100 4T
                    <div class="price-block">
                        <span class="bold">1234 ₽</span> <span class="line-through">1400 ₽</span>
                    </div>
                </div>
                <img src="podveska.png" class="img-block float-left">
            </div>
        </div>
    </div>
    <div class="right-sided block float-right">
        <div class="top-sales-block">
            <div class="top-sales-title">
            <h2 class="bold" style="color: black; font-size: 60px;">Топ</h1>
            <h2 class="bold">продаж 2021</h2>
            Комплектующие двигателей
            </div>
            <img src="Dvigatel.png" class="top-sales-img">
        </div>
    </div>
</div>
<div class="brand">
    <h3>Подбор по марке автомобиля</h3>
    <div class="brand-items-list">
        <div class="brand-item">
            <a class="brand-item-link">
                B
            </a>
            <p>BYD</p>
        </div>
        <div class="brand-item">
            <a class="brand-item-link">
                C
            </a>
            <p>Chery</p>
        </div>
        <div class="brand-item">
            <a class="brand-item-link">
                F
            </a>
            <p>FAW</p>
        </div>
        <div class="brand-item">
            <a class="brand-item-link">
                G
            </a>
            <div>
                <p>Geely</p>
                <p>Great Wall</p>
            </div>
        </div>
        <div class="brand-item">
            <a class="brand-item-link">
                L
            </a>
            <p>Lifan</p>
        </div>
        <div class="brand-item">
            <a class="brand-item-link">
                V
            </a>
            <p>Vortex</p>
        </div>
    </div>
</div>
<div class="trending">
    <h3>Популярные товары</h3>
    <div class="trending-items-list"></div>
</div>
<div class="gear">
    <h3>Может вам пригодится</h3>
    <div class="gear-items-list"></div>
</div>