<div class="contents1">
    <div class="img1">
        {{#if users.length}}
        <h1>Пользователи</h1>
        {{#each users}}
        <p>{{ login }}</span>
        <p>{{ password }}</span>
        {{/each}}
        {{else}}
        <h1>Пользователи отсутствуют</h1>
        <p>Add user</p>
        {{/if}}      
    </div>
</div>
<div class="trending">
    <h3>Популярные товары</h3>
    <div class="trending-items-list"></div>
</div>
<div class="gear">
    <h3>Может вам пригодится</h3>
    <div class="gear-items-list"></div>
</div>