<div class="contents1 with-header">
    <div class="mobile-app block">
        <img src="mobile-app-block.png" class="mobile-img">
    </div>
    <div class="left-sided-blocks float-left">
        <div class="left-sided block">
            <img src="left-sided-block.png" class="left-sided-img">
        </div>
        <div class="clear">

        </div>
        <div class="left-sided">
            <div class="left-left block float-left">
                <img src="left-left-block.png" class="left-img">
            </div>
            <div class="left-right block float-right">
                <img src="left-right-block.png" class="left-img">
            </div>
        </div>
    </div>
    <div class="right-sided block float-right">
        <img src="right-sided-block.png" class="right-sided-img">
    </div>
</div>
<div class="brand">
    <h3>Подбор по марке автомобиля</h3>
    <div class="brand-items-list">
        <div class="brand-item">
            <a class="brand-item-link">
                B
            </a>
            <p>BYD</p>
        </div>
        <div class="brand-item">
            <a class="brand-item-link">
                C
            </a>
            <p>Chery</p>
        </div>
        <div class="brand-item">
            <a class="brand-item-link">
                F
            </a>
            <p>FAW</p>
        </div>
        <div class="brand-item">
            <a class="brand-item-link">
                G
            </a>
            <div>
                <p>Geely</p>
                <p>Great Wall</p>
            </div>
        </div>
        <div class="brand-item">
            <a class="brand-item-link">
                L
            </a>
            <p>Lifan</p>
        </div>
        <div class="brand-item">
            <a class="brand-item-link">
                V
            </a>
            <p>Vortex</p>
        </div>
    </div>
</div>
<div class="trending">
    <h3>Популярные товары</h3>
    <div class="trending-items-list"></div>
</div>
<div class="gear">
    <h3>Может вам пригодится</h3>
    <div class="gear-items-list"></div>
</div>