<div class="content">
    <h3>Мои заказы</h3>
    <table>
        <tr class="table-items table-head">
            <th>№ Заказа</th>
            <th>Дата заказа</th>
            <th>Товар</th>
            <th>Сумма</th>
            <th>Количество</th>
            <th>Статус</th>
        </tr>
        <tr class="table-items table-item">
            <td><span>1</span></td>
            <td><span>06.04.2021</span></td>
            <td><span>34546436</span> BOSCH Щетки стеклоочистителя</td>
            <td><span>1564.00 ₽</span> 1564.00 ₽ х 1</td>
            <td><span>1</span></td>
            <td id="status-waiting">• Ожидаем выдачи</td>
        </tr>
        <tr class="table-items table-item">
            <td><span>2</span></td>
            <td><span>06.04.2021</span></td>
            <td><span>34546436</span> BOSCH Щетки стеклоочистителя</td>
            <td><span>1564.00 ₽</span> 1564.00 ₽ х 1</td>
            <td><span>1</span></td>
            <td id="status-waiting">• Ожидаем выдачи</td>
        </tr>
        <tr class="table-items table-item">
            <td><span>3</span></td>
            <td><span>06.04.2021</span></td>
            <td><span>34546436</span> BOSCH Щетки стеклоочистителя</td>
            <td><span>1564.00 ₽</span> 1564.00 ₽ х 1</td>
            <td><span>1</span></td>
            <td id="status-delivered">• Товар доставлен</td>
        </tr>
        <!-- Шаблон элемента -->
        {{!-- <tr class="table-items table-item">
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span> </td>
            <td><span> ₽</span> ₽ </td>
            <td><span></span></td>
            <td id="status">• </td>
        </tr> --}}
    </table>
</div>