<div class="contents1">
    <div class="order-items-block float-left">
        <h4 class="bold">Мои заказы</h4>
        <div class="order-items-list">
            <div class="order-items separator space-s">
                <div class="order-info float-left">
                    <span class="bold">Заказ № 1112541</span>
                        <a href="/help/order-canceling" class="item-button button-without-focus">Отменить заказ</a>
                    Дата заказа: 04.10.2020
                </div>
                <div class="order-info float-right">
                    <span class="bold">В обработке</span>
                    2 товара
                    <span>Сумма: 1234 ₽</span>
                </div>
                <div class="order-item">
                    <img class="order-item-image" src="product-img2.png">
                    <img class="order-item-image" src="product-img2.png">
                </div>
                <div class="clear"></div>
            </div>
            <div class="order-items separator space-s">
                <div class="order-info float-left">
                    <span class="bold">Заказ № 1112541</span>
                    Дата заказа: 04.10.2020
                </div>
                <div class="order-info float-right">
                    <span class="bold">Доставлен</span>
                    2 товара
                    <span>Сумма: 1234 ₽</span>
                </div>
                <div class="order-item">
                    <img class="order-item-image" src="product-img2.png">
                    <img class="order-item-image" src="product-img2.png">
                </div>
                <div class="clear"></div>
            </div>
        </div>
        {{!-- <div>У вас пока ещё нет заказов, перейдите в <a href="/catalog">корзину</a> для оформления.</div> --}}
    </div>
    <div class="clear"></div>
</div>
<div class="separator space-s"></div>
<div class="similar">
    <h3>Возможно вас заинтересует</h3>
    <div class="similar-items-list"></div>
</div>