/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  }
  *,*:before,*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  :focus,:active {outline: none;}
  a:focus,a:active {outline: none;}
  nav,footer,header,aside {display: block;}
  html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  }
  input,button,textarea {font-family:inherit;}
  input::-ms-clear {display: none;}
  button {cursor: pointer;}
  button::-moz-focus-inner {padding:0;border:0;}
  a, a:visited {text-decoration: none;}
  a:hover {text-decoration: none;}
  ul li {list-style: none;}
  img {vertical-align: top;}
  h1,h2,h3,h4,h5,h6 {font-size:inherit;font-weight: 400;
}
body {
    display: flex;
    flex-direction: column;
}
.header {
    position: fixed;
    top: 0;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transition-duration: 0.3s;
}
.section1 {
    background-color: rgb(238, 234, 234);
}
.section1-head {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 95%;
    line-height: 10px;
    margin-left: auto;
    margin-right: auto;
}
.LoggedUser {
    padding-top: 15px;
    margin-left: 70px;
}
.section1-head #img-logo {
    position: absolute;
    width: 50px;
    margin-top: -5px;
}
.section1-head .navbar {
    display: flex;
    font-size: small;
}
.section1-head .navbar a {
    margin: 0px 10px;
    text-decoration: none;
    color: black;
}
.section1-head .navbar :hover {
    font-weight: bold;
}
.section2 {
    width: 100%;   
}
.section2 .navbar {
    width: 100vw;
    height: 4rem;
}
.section2 img {
    height: 100px;
}
.section2 .navbar-nav {
    margin-left: 20rem;
    margin-right: 10rem;
}
.section2 .nav-item {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 .nav-item:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}
.nav-item .nav-link {
    color: black !important;
}
.nav-link a {    
    display: block;
    padding: .5rem 1rem;
}
.blurr {
    filter: blur(7px);
}
.drop-list-new-releases, .drop-list-men {
    display: none;
    position: fixed;
    height: 50vh;
    width: 100vw;
    top: 7rem;
    align-items: end;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
.icon {
    padding: 6px;
    width: 36px;
    height: 36px;
}
.icon:hover {
    background-color: lightgray;
    border-radius: 1rem;
}
.glassmorffect {
    background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.drop-item {
    margin: 1rem 4rem;
    text-align: left;
}
.drop-item h1 {
    font-weight: bold;
    font-size: large;
}
.drop-item h4 {
    font-size: 14px;
}
.section3 {
    text-align: center;
    margin-bottom: 5rem;
}
.section3 img {
    height: 150px;
}
.hide-header {
    transform: translateY(-335px);
    transition-duration: 0.3s;
}
.section4 {
    display: flex;
}
.section4 .list {
    list-style-type: none;
    display: flex;
    font-size: large;
    width: 80%;
    justify-content: space-evenly;
    margin-left: 0%;
}
.section4 .list a:hover {
    text-decoration: none;
}

.section4 img {
    width: 10%;
    max-height: 50px;
    opacity: 0%;
}
.container1 {
    flex: 1 0 auto;
    z-index: 2;
}
 .container1 a {
    text-decoration: none;
    color: black;
}
.container1 li:hover {
    font-weight: bold;
    text-decoration: none;
}
.shift {
    transform: translateY(650px);
}
@media only screen and (max-width: 1200px) {
    .LoggedUser {
        font-size: 80%;
    }
    .section4 .list {
        overflow-x: auto;
        white-space: nowrap;
        margin-left: 3%;
    }
    .section4 .list li {
        display: inline;
        padding-left: 20px;
        }
    .section4 .list::-webkit-scrollbar {
        display: none;
        }
    .section4 img {
        max-height: 20px;
    }
    .section2 .navbar-nav {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .section2 form {
        max-width: 50vw;
    }
}
.container2 {
    background-color: white;
    transition-duration: 1s;
    margin-top: 1rem;
}
.contents1 {
    padding-top: 129px;
    transition-duration: 1s;
    width: 80%;
    margin: 0 auto;
}
.contents1 .img1 {
    background-image: url(big-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 800px;
    margin: 0 auto;
}
.contents1 h1 {
    color: white;
    font-size: 60px;
    font-weight: bolder;
    margin-left: 50px;
    padding-top: 120px;
}
.contents1 p {
    color:white;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 50px;
}
.float-left {
    float: left;
}
.float-rifght {
    float: right;
}
.block {
    background-color: rgb(238, 234, 234);
}
.img-block {
    height: 80%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: auto;
    width: auto;
}
.sale-block {
    padding: 5px 10px;
    border-radius: 10px;
    width: max-content;
    color: white;
    background-color: rgba(255, 42, 43, 1);

}
.info-block {
    height: 80%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5%;
    padding-top: 5%;
}
.price-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bold {
    font-weight: bold;
}
.line-through {
    text-decoration: line-through;
    color: gray;
}
.top-sales-title {
    padding-left: 2rem;
}
.top-sales-block {
    padding: 2rem;
    height: auto;
    width: calc(100% - 6rem);
}
.top-sales-img {
    height: auto;
    width: 90%;
    padding: 2rem;
}
.mobile-app {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
}
.mobile-img {
    height: 200px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left-sided-blocks {
    width: 59%;
    height: 500px;
}
.left-sided {
    height: 280px;
    width: 100%;
}
.left-sided-img {
    height: 280px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left-left {
    width: 49%;
    height: 200px;
}
.left-img {
    height: 200px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left-right {
    width: 49%;
    height: 200px;
}
.clear {
    clear: both;
    height: 20px;
    width: 100%;
}
.right-sided {
    width: 39%;
    height: 500px;
}
.right-sided-img {
    width: 400px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.trending, .gear, .brand, .similar {
    padding-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.trending-items-list,
.gear-items-list, .brand-items-list, .similar-items-list {
    display: flex;
    overflow-x: auto;
}
.trending-items-list::-webkit-scrollbar,
.gear-items-list::-webkit-scrollbar,
.brand-items-list::-webkit-scrollbar,
.similar-items-list::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}
.trending-items-list::-webkit-scrollbar-track,
.gear-items-list::-webkit-scrollbar-track {
    border-radius: 10px;
}
.trending-items-list::-webkit-scrollbar-thumb,
.gear-items-list::-webkit-scrollbar-thumb,
.brand-items-list::-webkit-scrollbar-thumb,
.similar-items-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 100px rgba(0,0,0,0.3); 
}
.trending-item,
.gear-items, .brand-item, .similar-item {
    margin: 10px 30px;
}
.brand-item {
    display: flex;
    align-items: baseline;
}
.brand-item div {
    flex-direction: column;
}
.brand-item-link {
    text-align: center;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 25px;
    border-radius: 0.5rem;
    border: lightgray 1px solid;
    color: red;
    font-weight: bold;
}
.item-name-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 5px;
}
.item-availability-basket {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}
.item-availability {
    color: rgb(44, 211, 90);
}
.trending img,
.gear img,
.similar img {
    width: 350px;
    height: 350px;
}
.product-image-block {
    height: 35vw;
    width: 35vw;
}
.product-image {
    padding: 10%;
    max-width: 100%;
    width: 100%;
    height: auto;    
    align-items: top;
    display: inline-block;
    transition-property: opacity;
    transition-duration: 0.28s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.product-info-block {
    height: auto;
    width: 35vw;
    padding-right: 10rem;
}
.product-info h4 {
    font-weight: bold;
    padding-bottom: 0.5rem;
}
.product-info h6 {
    padding-bottom: 1.5rem;
}
.product-info span{
    font-weight: bold;
}
.description {
    padding-top: 2.5rem;
}
.details-list {
    margin-top: 40px;
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
    box-shadow: inset 0 -1px 0 0 var(--palette-dismissive,#E5E5E5);
}
summary {
    position: relative;
    padding: 28px 0px;
    background: transparent;
    width: 100%;
}
details summary::-webkit-details-marker {
    display: none
}
details {
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
    box-shadow: inset 0 1px 0 0 var(--palette-dismissive,#E5E5E5);
}
details[open] {
    padding-bottom: 2rem;
}
details > summary {
    list-style: none;
}
summary::after {
    display: block;
    content: '';
    position: absolute;
    right: 6px;
    top: calc(50% - 6px);
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition-property: transform;
    transition-duration: 0.28s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
details[open] summary::after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: calc(50% - 4px);
}
.basket-items-block {
    width: 35vw;
    height: auto;
}
.basket-info-block {
    height: auto;
    width: 35vw;
    padding-right: 10rem;
}
.basket-items-list {
    width: 35vw;
    height: auto;
}
.basket-item-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    background: rgb(238, 234, 234);
}
.space {
    padding-top: 0.5rem;
}
.space-s {
    padding: 28px 0;
}
.space-s-b {
    padding-bottom: 28px;
}
.separator {
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
    box-shadow: inset 0 -1px 0 0 var(--palette-dismissive,#E5E5E5);
}
.input-quantity {
    width: auto;
    max-width: 2.5rem;
    margin-left: 0.5rem;
    text-align: center;
}
.basket-item-buttons {
    padding-top: 2rem;
}
.item-button {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    margin-right: 1rem;
    text-decoration: none;
    background: 0px 0px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    box-shadow: 0px -1px 0px 0px inset;
    line-height: 1;
    padding: 4px 0px;
}
.item-button:hover {
    color: #757575;
}
.button-without-focus:focus {
    outline: none;
}
.order-items-block {
    display: block;
    width: 100%;
    height: auto;
}
.order-items-list {
    display: block;
}
.order-items {
    display: block;
}
.order-item {
    display: table;
}
.order-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: auto;
    padding-right: 20px;
    height: 100px;
}
.order-item-image {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    background: rgb(238, 234, 234);
}
.order-button {
    border-radius: 0.5rem;
    border: 1px solid black;
    background: none;
}
.order-button:hover {
    border: 1px solid gray;
}
.with-header {
    margin-top: 300px;
}
.li1 {
    list-style-type: disc;
    margin-left: 16px;
    margin-bottom: 4px;
}
.available {
    font-weight: bold;
    color: rgb(44, 211, 90)
}
.orderable {
    font-weight: bold;
    color: rgb(249, 111, 0);
}
.buttons {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}
.custom-button {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 20vw;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
.bandw {
    background: black;
    color: white;
}
.bandw:hover {
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.28s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.wandb {
    border: 1px solid lightgray;
    color: black;
    background: none;
}
.wandb:hover {
    border: 1px solid gray;
    transition-duration: 0.28s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.footer {
    flex: 0 0 auto;
}
.foo1 {
    display: flex;
    background-color: black;
    margin-top: 100px;
    height: 300px;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
}
.foo1 h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color:rgb(187, 187, 187)
}
.foo1 h5 {
    font-size: 12px;
    color: grey;
}

[class*="group"] {
    margin-left: 30px;
    margin-top: 50px;
}
.foo2 {
    background-color: black;
    text-align: center;
    margin-left: -50px;
}
.foo2 h5 {
    margin-bottom: 0px;
    padding-bottom: 10px;
    color: white;
}

.login h2 {
    font-weight: bold;
}
.login input:not([type='checkbox']) {
    width: 350px;
    height: 50px;
    margin-top: 10px;
    border: rgba(128, 128, 128, 0.11) 1px solid;
    border-radius: 5px;
    padding-left: 10px;
}
.login select {
    width: 350px;
    height: 50px;
    margin-top: 10px;
    border: rgba(128, 128, 128, 0.11) 1px solid;
    border-radius: 5px;
    padding-left: 10px;
}
.login input[type='checkbox'] {
    margin-top: 20px;
    margin-right: 20px;
    transform: scale(1.4);
}
.login button {
    margin-top: 20px;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.login button:hover {
    background-color:rgb(177, 175, 175);
}
.login h6 {
    font-size: 14px;
    margin-top: 30px;
}
.login a {
    font-weight: bolder;
}
.login-form, .modal-content {
    background-color: rgb(230, 227, 227);
    font-weight: bold;
    border-radius: 1.5rem !important;
    border: none !important;
}
.login-form button {
    color: grey;
}
.login img {
    margin-top: 50px;
}

@media only screen and (max-width: 1200px) {
    [class*="group"] {
        margin-left: -20px;
    }
    .contents1 .img1 {
        width: 90%;
        height: 500px;
    }
    .contents1 h1 {
        color: white;
        font-size: 30px;
        font-weight: bolder;
        margin-left: 50px;
        padding-top: 80px;
    }
    .contents1 p {
        color:white;
        font-size: 15px;
    }
}
.content {
    display: fixed;
    padding-top: 400px;
    transition-duration: 1s;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.catalog {
    flex-direction: row;
    display: flex;
}
.content div {
    transition-duration: 00.3s;
    transition-property: all;
}
.content h3 {
    font-weight: bold;
}
.headline {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: .25rem;
    z-index: 1;
}
.headline p {
    font-weight: bold;
}
.filter-list {
    display: fixed;
    top: 55px;
    left: calc(100% / 16);
    width: 20%;
    height: 650px;
    flex-direction: column;
}
.filter-list > div:not(:last-child) {
    border-bottom: lightgray 1px solid;
}
.filter-list div {
    margin-bottom: 25px;
}
.filter-price {
    display: flex;
    flex-direction: column;
}
.filter-price input {
    text-align: center;
    width: 7em;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: .25rem;
    background-color: #e9ecef;
}
.filter-list h4 {
    margin-bottom: 1rem;
}
.price-range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: lightgray;
}
.collapsed {
    height: 0;
    margin: 0;
    transform: translateY(-50px);
    visibility: collapse;
}
.height-of-div {
    height: 55px;
    transition-duration: 00.3s;
    transition-property: all;
}
.price-range span {
    margin: 0 5px;
    font-weight: bold;
    color: lightgray;
}
.filter-producer {
    display: flex;
    flex-direction: column;
}
.filter-producer div {
    margin: 0;
}
.checkbox-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox-group > div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 10em;
}
.checkbox-group p {
    color: lightgray;
    font-weight: bold;
}
.in-scroller {
    margin-left: 0px;
    position: sticky;
    transition: margin-left 300ms ease 0s, transform 300ms ease 0s;
}
.catalog-products {
    padding-left: 40px;
    width: 100%;
    display: block;
}
.catalog-products figure {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.product-grid-items {
    width: 100%;
    display: block;
}
.sorting {
    padding-left: 8px;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
.sorting div{
    padding-left: 2rem;
    font-weight: normal;
}
.product-card {
    width: 33%;
    vertical-align: top;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}
.product-card-link-overlay {
    display: block;
    z-index: 1;
    color: black;
}
.product-card-link-overlay:hover {
    text-decoration: none;
}
.product-card-img-link-overlay {
    display: block;
    z-index: 1;
    position: relative;
    text-decoration: none;
}
.product-card-img-link-overlay .div {
    display: flex;
}
.product-card-image {
    max-width: 100%;
    /* border: rgb(238, 234, 234) solid 1px; */
    width: 100%;
    height: 40vh;
    align-items: top;
    display: inline-block;
    transition-property: opacity;
    transition-duration: 0.28s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.product-card-info {
    position: relative;
    padding: 12px 0px 2px;
    min-height: 10em;
    font-size: 16px;
}
.product-card-available {
    color: rgb(44, 211, 90);
}
.product-card-orderable {
    color: rgb(249, 111, 0);
}
.product-card-titles {
    line-height: 1.5em;
    padding-bottom: 10px;
}
.product-card-title {
    color: rgb(17, 17, 17);
    font-weight: bold;
    font-size: 16px;
}
.product-card-subtitle {
    color: rgb(117, 117, 117);
    font-size: 16px;
}
.product-card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.totalSumm {
    font-weight: bold;
}
.form-control {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}
.form-group label {
    margin-left: 3rem;
}
.modal-footer {
    justify-content: center !important;
}
.alert.alert-primary {
    margin-bottom: 0px;
}
.add-form-nav {
    width: 25%;
    height: auto;
    background-color: rgb(238, 234, 234);
}
.add-form-forms {
    width: 25vw;
    height: auto;
    padding-bottom: 100px;
}
.add-form-forms input {
    margin-bottom: 20px;
}
.add-form-forms select {
    margin-bottom: 20px;
}
.list-elements {
    width: 50vw;
    height: auto;
}
.element span {
    margin-right: 1rem;
}
.admin-panel-form {
    display: flex;
    flex-direction: column;
}
.back {
    margin-top: 2rem;
}
.help-blocks {
    margin-bottom: 40px;
}
.help-info-block {
    display: inline-block;
    width: 33%;
    padding: 0 6px;
}
.help-info-block h5 {
    font-weight: bold;
}
.text-center {
    text-align: center;
}
.bottom-space {
    padding-bottom: 100px;
}
.contact-block {
    padding-bottom: 40px;
}
.contact-block h5 {
    font-weight: bold;
}