<div class="contents1">
    <div class="float-left add-form-nav">
        <ul>
            <li><a class="dropdown-item" href="/adminpanel">Категории</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Корзина</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Заказ</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Товар</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Экземпляр товара</a></li>
            <li><a class="dropdown-item" href="/adminpanel">Пользователь</a></li>
            <li>
                <label for="add">Добавить</label>
                <input type="radio" name="action" placeholder="Добавить" value="add" id="add">
            </li>
            <li>
                <label for="edit">Изменить</label>
                <input type="radio" name="action" placeholder="Изменить" value="edit" id="edit" checked>
            </li>
        </ul>
    </div>
    <div class="float-right add-form-forms login">
            <input type="text" name="username" id="username" placeholder="Введите имя пользователя" required>
            <input type="password" name="password" id="password" placeholder="Введите пароль пользователя" required>
            <input type="date" name="create-date" id="create-date" placeholder="Введите дату создания пользователя" required>
            <select name="user-status" id="user-status" required>
                <option selected>Выберите тип пользователя</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
                
            <button type="submit" class="btn btn-light">Изменить</button>
        </form>
    </div>
</div>